<li>
	<span style="text-align: left">{{burger_name}}</span>
    
	<button class="change-status" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}EAT IT!{{else}}REORDER!{{/if}}
	</button>
</li>
